@use '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  row-gap: variables.$padding-desktop-small;
  margin-bottom: variables.$margin-block-desktop;

  h1 {
    font-size: 18pt;
    font-weight: bold;
  }
}
