@use "../../styles/colors";
@use '../../styles/variables';

.container {
  width: 100%;
  padding: variables.$padding-desktop;
  border-radius: variables.$border-radius-desktop;
  background-color: colors.$bg-secondary;
  border: 1px solid colors.$border-color;
  margin-bottom: variables.$margin-block-desktop;
}

.title {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: variables.$padding-desktop;
}

.grid {
  display: flex;
  column-gap: variables.$padding-desktop-small;
  min-height: 600px;
}